* {
	box-sizing: border-box;
}

body {
	padding: 80px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}


header {
	position: fixed;
	top:0px;
	right: 0px;
	left: 0px;
	padding: 10px;
	background-color: lightgrey;
	border-bottom: 1px grey;
}

.logo {
	display: inline-block;
}

.logo h1 {
	font-size: 20px;
	padding: 0px;
	margin: 0px;
	font-weight: normal;
}

.top-navs {
	position: absolute;
	right: 10px;
	top: 10px;
}

.link {
	font-size: 20px;
	padding: 5px;
	margin: 0px;
	color: purple;
}

a:hover {
	text-decoration: underline;
}

.searches-section {
	margin-bottom:20px;
}

label {
	display: block;
	margin-bottom: 7px;
}

.searches-section input {
	width: 400px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding: 0px 5px 0 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400px;
	font-size: 16px;
	height: 30px;
	line-height: 30px;

}

.searches-section button  {
	border: 1px solid lightgrey;
	height: 30px;
	width: 30px;
	margin: 0px;
	background-color: white;
	border-radius: 5px;
	font-size: 16px;
}

.pages {
	display: inline-block;
	margin-bottom: 30px;
	border: 1px solid lightgrey;
	background-color: white;
	border-radius: 5px;
}

.pages-button {
	font-size: 16px;
	display: inline-block;
	padding: 7px 15px;
}

.pages-number {
	font-size: 16px;
	padding: 7px 25px;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
}

.listings {
	padding: 0;
}

.list {
	font-size: 16px;
	padding-bottom: 10px;
	list-style: none;
}

.fa-star {
	color: grey;
	padding: 6px;
}

.fa-star:hover{
	color:yellow;
}

.list-date, .list-location {
	color: grey;
	font-size: 16px;
	padding: 8px;
}

.list-name {
	font-weight: bold;
	font-size: 17px;
	color: blue;
	margin-left: 5px;
	margin-right: 5px;
}






